# MacOS
.DS_Store

# Visual Studio Code
.history/
.vscode/

# compilation files
libtool-e
.libs/
.deps/
*.o
*.la
*.lo
*.log

# autotools
*.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile.in
Makefile


#samples
sample/dns_server
sample/easy_kfc_load
sample/easy_kfc_tool
sample/echo_client
sample/echo_client_simple
sample/echo_client_tbnet
sample/echo_client_uthread
sample/echo_server
sample/echo_server_async
sample/echo_server_tbnet
sample/http_client
sample/http_server
sample/https_client
sample/https_server
sample/kfc_test
sample/proxy_server
sample/uthread_test

# test files
*.trs
.dirstamp
test/*/*_test
test-driver
